.nav-holder {
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.nav-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.nav-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.nav-list > *:hover {
  cursor: pointer;
  color: var(--orange);
  transition: all 1s ease-out;
}

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .nav-list {
    display: none;
  }
  .btn-holder button {
    display: none;
  }
  .toggle-holder {
    margin-left: 4rem;
  }
}
