.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.intro-left {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 4rem;
}
.intro-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.intro-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.intro-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.intro-name > :nth-child(3) {
  font-weight: 100;
  font-size: 0.8rem;
  color: var(--gery);
  margin-top: 0.625rem;
}
.intro-button {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.intro-icons > * {
  transform: scale(0.5);
  margin-top: -3rem;
}
.intro-icons > *:hover {
  cursor: pointer;
}
.intro-right {
  flex: 1;
  position: relative;
  top: -12%;
}
.intro-right > * {
  position: absolute;
}
.intro-right > :nth-child(1) {
  transform: scale(0.80);
  top: -15%;
}
