.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro-left {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 2rem;
  margin-top: 3rem;
}
.intro-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.intro-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.intro-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.intro-name > :nth-child(3) {
  font-weight: 100;
  font-size: 0.8rem;
  color: var(--gery);
  margin-top: 0.625rem;
}
.intro-button {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.intro-icons > * {
  transform: scale(0.5);
  margin-top: -4rem;
}
.intro-icons > *:hover {
  cursor: pointer;
}

.intro-right {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  margin-top: 4rem;
}
.intro-right > img {
  max-width: 25rem;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .intro-right {
    transform: scale(0.8);
    margin: -2rem 0;
  }
}
