.services {
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
  align-items: center;
}
.left-services {
  display: flex;
  flex-direction: column;
  position: relative;
}
.left-services > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.left-services > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.left-services > :nth-child(3) {
  color: var(--gray);
  font-size: 0.8rem;
  margin-top: 1rem;
}
.services-btn {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.services-btn:hover {
  cursor: pointer;
}

.card {
  max-width: 10rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 3px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.56rem;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  max-width: 3.5rem;
}

.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 1rem;
}

.right-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* margin-top: 1rem; */
}
