.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-bottom: 13rem;
}
.left-services {
  display: flex;
  flex-direction: column;
  position: relative;
}
.left-services > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.left-services > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.left-services > :nth-child(3) {
  color: var(--gray);
  font-size: 0.8rem;
  margin-top: 1rem;
}
.services-btn {
  width: 9rem;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 10rem;
  height: 13rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 10rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 1.3rem;
    padding: 0 1.56rem 2rem 1.56rem;    
}

.card img{
    max-width: 3.5rem;
}