.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}
.project-header span:nth-child(1) {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: bold;
}
.project-header span:nth-child(2) {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
}
.projects .swiper {
  overflow: hidden !important;
}

.project-slider {
  margin-top: 3rem;
  width: 100%;
}
.project-slider .swiper-slide {
  width: 20rem;
  position: relative;
}
.project-slider img {
  width: 22rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}
.preview {
  background-color: rgba(0, 0, 0, 0.56);
  position: absolute;
  width: 22rem;
  border-radius: 19px;
  height: 97%;
  top: 0;
  z-index: 3;
  opacity: 0;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview:hover {
  opacity: 1;
}
.preview > * {
  margin: 1rem;
}

.preview span:nth-child(1) img {
  width: 1.5rem;
  z-index: 9;
  cursor: pointer;
}
.preview span:nth-child(2) img {
  width: 1.5rem;
  z-index: 9;
  cursor: pointer;
}
