.contact-form {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  justify-content: space-around;
}
.awesome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.c-right {
  display: flex;
  justify-content: center;
}

.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.c-right .user {
  width: 20rem;
  height: 1.5rem;
  padding: 0.2em;
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 1rem;
}

textarea {
  height: 4rem !important;
}


@media screen and (max-width: 480px) {
  .contact-form {
    padding: 0;
    flex-direction: column;
    gap: 2rem;
  }
  .c-right .user {
    width: 16rem;
  }
}
