.toggle {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--orange);
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  cursor: pointer;
}

.toggle > * {
  height: 1rem;
  width: 1rem;
  color: var(--orange);
}
.toggle-btn{
    border-radius: 100%;
    background-color: var(--orange);
    position: absolute;
}
