.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 30vh;
  margin: 5rem 0;
}

.achievment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  position: relative;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.circle::before {
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc06c 100%);
  top: -0.5rem;
  left: -0.5rem;
  bottom: -0.5rem;
  right: -0.5rem;
  position: absolute;
  z-index: -1;
  box-shadow: var(--boxShadow);
}
.achievment span:nth-child(3){
    color: var(--orange);
}